# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Configure for ServiceNow'
      'command': 'servicenow-sync:configure-file'
    }
    {
      'label': 'View in ServiceNow'
      'command': 'servicenow-sync:view-remote'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Servicenow Sync'
      'submenu': [
        {
          'label': 'Configure File'
          'command': 'servicenow-sync:configure-file'
        }
        {
          'label': 'Sync File to ServiceNow'
          'command': 'servicenow-sync:sync'
        }
        {
          'label': 'View file in ServiceNow'
          'command': 'servicenow-sync:view-remote'
        }
      ]
    ]
  }
]
