// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import 'ui-variables';
atom-panel.modal:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: hsla(220, 10%, 5%, 0.5);
  backface-visibility: hidden; // fixes scrollbar on retina screens
  -webkit-animation: overlay-fade 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.servicenow-sync {
  atom-text-editor[mini].editor .syntax--text.syntax--plain.null-grammar {
    color: @text-color !important;

  }
  atom-text-editor[mini].editor .placeholder-text {
    color: @text-color-subtle;
    }
  // MINI EDITOR - SMALL
  // .editor.input.mini {
  atom-text-editor[mini] {
    font-size: 1.2em;
    height: 1.8em;
    vertical-align: middle;
    margin-top: 0.1em;
    padding: 0;
    padding-left: 0.5em;
    background: @app-background-color;
    border-color: @base-border-color;
    overflow: hidden;
  }

  .url-input {
    margin-top: .1em;
  }

  .spinner, .icon-spinner {
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid fade(@text-color-info, 15%);
    border-right: 6px solid fade(@text-color-info, 15%);
    border-bottom: 6px solid fade(@text-color-info, 15%);
    border-top: 6px solid @text-color-info;
    border-radius: 100%;
  }

  .icon-spinner {
    width: 10px;
    height: 10px;
    margin: 5px;
  }

  .progress-spinner {
    height: 50px;
    width: 50px;
    margin: 1em;
    position: relative;
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }

  @-moz-keyframes rotation {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(359deg);
    }
  }

  @-o-keyframes rotation {
    from {
      -o-transform: rotate(0deg);
    }
    to {
      -o-transform: rotate(359deg);
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  h2 {
    color: @text-color-info;
    text-align: center;
  }
  h3 {
    color: @text-color-info;
    text-align: center;
  }
  p {
    margin: 1.2em;
  }
  em {
    font-size: 0.8em;
    color: @text-color-warning;
  }
  label {
    color: @text-color-highlight;
    // align: bottom;
  }
  button {
    width: 8em;
    text-align: center;
    margin: 0.5em;
    background: darken(@button-background-color, 50%);
    // background: @base-background-color;
  }
  button[disabled], button[disabled]:hover {
    background-color: @button-background-color;
  }
  .url-span {
    display: flex;
    width: 100%;
    line-height: @font-size;
  }
  .url-input {
    width: 100%;
    // margin-top: 0;
  }
  .btn-get {
    height: 100%;
    width: auto;
    margin-top: .1em;
    margin-right: 0;
    // margin: 0;
  }
  .input {
    // border-color: lighten(@base-border-color, 5%);

  }
  .align-right {
    text-align: right;
  }
  .full-width {
    display: inline-flex;
    width: 100%;
  }
  .quarter-width {
    width: 25%;
  }
  .half-width {
    width: 50%;
  }
  .three-quarter-width {
    width: 75%;
  }
  .creds-panel, .info-panel {
    background: lighten(@overlay-background-color, 5%);
    border: 1px solid @base-border-color;
    border-radius: @component-border-radius;
    margin-bottom: 0.8em;
    .creds-div, .info-div {
      margin: 0.3em;
      .creds-label, .info-label {
        width: 9em;
        margin-left: 0.8em;
        margin-right: 0.8em;
      }
      .sync-enabled-input-label {
        vertical-align: middle;
        margin-right: 0;
        width: 100%;
      }
      .sync-enabled-input {
        margin: 0
      }
      .sync-enabled-div {
        display: inline-flex;
      }
      // .info-result, {
      //   color: @text-color-info;
      //   margin-right: 1.2em;
      //   margin-bottom: 0.8em;
      // }
      .hidden {
        display: none;
      }
      .occlude {
        -webkit-text-security: disc;
      }
      // .placeholder
      span {
        width: 100%;
        overflow:hidden;
      }
      select {
        margin-top: 0.1em;
        margin-bottom: 0.8em;
        // background: lighten(@overlay-background-color, 20%);
        background: @app-background-color;
        color: @text-color-subtle;
        border-color: @base-border-color;
        width: 100%;
        height: auto;
      }
      select[disabled] {
        background: lighten(@app-background-color, 20%);
      }
      label:not(.sync-enabled-input-label) {
        padding-top: 0.3em;
      }
    }
  }
}
